<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team16.cs307.expensetracker">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.camera2" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.read_external_storage" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".CustomApp"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/LightTheme">
        <activity android:name=".AlertPreferencesActivity"></activity>
        <activity
            android:name=".SearchExpense"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".BrowseBudgets" />
        <activity android:name=".PreferenceActivity" />
        <activity
            android:name=".EditBudgetActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".CustomCategoryCreation" />
        <activity android:name=".EditExpensesActivity" />
        <activity
            android:name=".AccountInfo"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SupportEmail"
            android:parentActivityName=".AccountInfo" />
        <activity
            android:name=".ImageShow"
            android:label="@string/title_activity_image_show"
            android:theme="@style/LightTheme.NoActionBar" />
        <activity
            android:name=".CustomExpense"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".CustomLimitCreation" />
        <activity android:name=".CustomBudgetCreation" />
        <activity
            android:name=".BudgetDownloadActivity"
            android:label="@string/title_activity_budget_download"
            android:parentActivityName=".MainActivity"
            android:theme="@style/LightTheme.NoActionBar" />
        <activity android:name=".UserPreferenceActivity" />
        <activity android:name=".FinancialInfo" />
        <activity
            android:name=".ResetPasswordActivity"
            android:theme="@style/LightTheme.NoActionBar" />
        <activity
            android:name=".ImageActivity"
            android:parentActivityName=".ImageShow" />
        <activity
            android:name=".CreateNewAccountActivity"
            android:theme="@style/LightTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/LightTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <receiver
            android:name=".AlertReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>